/// section

.accordion {
  &__background {
    //* displays on only mobile screens
    &__mobile {
      position: relative;
      &__illustration {
        position: absolute;
        top: 41px;
        left: 40px;
      }
      &__pattern {
        position: absolute;
        top: 143px;
        left: 68px;
      }
    }
    // * displays on only bigger screens
  }

  // right side content
  &__header {
    margin-top: 300px;
    text-align: center;
    background-color: #fff;
  }

  // card component
  &__article {
    background-color: #fff;
  }
  &__article__top {
    display: flex;
    justify-content: space-between;
    background-color: red;
  }
}
