/// section

.accordion {
  margin-top: 14.8em;
  padding: 8.8em 1.375em 3em 1.375em;
  background-color: #fff;
  border-radius: 24px;

  &__background {
    //* displays on only mobile screens
    &__mobile {
      position: relative;
      &__illustration {
        position: absolute;
        top: 4em;
        left: 46%;
        transform: translate(-50%, 0);
      }
      &__pattern {
        position: absolute;
        top: 14.6em;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    // * displays on only bigger screens
  }

  // right side content
  &__header {
    margin: 4.6em 0 2em 0;
    text-align: center;
  }

  // card component
  &__article {
  }
  &__article__top {
    display: flex;
    justify-content: space-between;
    background-color: red;
  }
}
