/// base

*, // minimal normalize
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// global parent font size (10px == 1rem)
html {
  font-size: 62.5%;
}

body {
  background: no-repeat
    linear-gradient(to bottom, #af6fee, #9b6fef, #866fef, #6e6fee, #516fec);
  height: 100vh;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}

details > summary {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::after {
  content: url("../../../../images/icon-arrow-down.svg");
  display: block;
  height: 12px;
  width: 12px;
}

details[open] > summary::after {
  content: url('"../../../../images/icon-arrow-up.svg');
  display: block;
  width: 12px;
  height: 12px;
}
